
@{
    ViewData["Title"] = "About";
}

<h1>About The Bradster</h1><br />

<div class="row">
    <div class="col-8">
        <p class="text-secondary">
            The Bradster (a nickname he had resisted most of his life) is a songwriter and solo, local entertainer. 
            Brad started writing in his teen years, but only recently started putting his songs to music. Many listeners notice the
            variation in genre across his songs. This is not a deliberate or conscious effort. He is true to the feeling around the song 
            idea or story and the music choice blends this feeling with the theme of the song.
        </p>
        <p>
            Most of the recordings you will find here is The Bradster playing and singing solo. While he would welcome talented musicians
            that would like to collaborate on a musical project or album, the rural area in which he lives isn’t highly conducive to putting
            a band or recording team together.
        </p>
        <p>
            Please enjoy what you find within, as finding people who can relate to his work is nearly as enjoyable to him as creating the song in the first place.
        </p>
    </div>
    <div class="col-4">
        <img src="~/images/TheArtist.jpg" alt="Brad singing" class="img-fluid rounded-pill float-end" />
    </div>
</div>

