
@{
    ViewData["Title"] = "HitSingle";
}
<div class="row">
    <div class="col-8">
        <h1>Hit Single, Pun Intended</h1>
    </div>
    <div class="col-4">
        <img src="~/images/monkey.jpg" alt="Singing Monkey" class="rounded" style="max-width:400px;"/>
    </div>
</div>


