@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-12">
        <img src="~/images/homePage.jpg" alt="Brad on guitar" class="rounded mx-auto d-block img-fluid" />
    </div>
</div>
